<div class="container">
  <h4>*必填欄位</h4>
  <h2>請輸入你的支出</h2>
  <form action="/records" method="POST">
    <label for="name">說吧，你的小秘密</label>
    <input type="text" placeholder="買了什麼呀？" name="name" required>
    <label for="date">什麼時候？</label>
    <input type="date" placeholder="日期(YYYY-MM-DD)" name="date" required>
    <label for="category">支出類別</label>
    <select id="inputState" class="form-control" name="category" required>
      <option value="" disabled selected>Choose...</option>
      {{#each categories}}
      <option value={{this.category}}>{{this.category}}</option>
      {{/each}}
    </select>
    <label for="amount">所以是多少錢？</label>
    <input type="number" min="1" placeholder="花了多少" name="amount" required>
    <button type="submit" class="btn btn-info">Create</button>
  </form>
</div>