<div class="container">
  <h4>*必填欄位</h4>
  <h2>請輸入你的支出</h2>
  <form action="/records" method="POST">
    <input type="text" placeholder="name" name="name" required>
    <input type="text" placeholder="date" name="date" onfocus="(this.type='date')" onblur="(this.type='text')" required>
    <label for="Category">Category</label>
    <select id="inputState" class="form-control" name="category" required>
      <option value="" disabled selected>Choose...</option>
      {{#each categories}}
      <option value={{this.category}}>{{this.category}}</option>
      {{/each}}
    </select>
    <input type="number" min="0" placeholder="amount" name="amount" required>
    <button type="submit" class="btn btn-info">Create</button>
  </form>
</div>